/* Reset básico */
body, h1, p, ul, li {
  margin: 2;
  padding: 2;
  list-style: none;
}

/* Estilo do corpo */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1E90FF; /* Fundo azul */
  color: #fff; /* Cor do texto branco para contraste */
  .p {margin-left: 5em;}
}

/* Estilo do cabeçalho e navegação */
header {
  background: #fff;
  color: #fff;
  padding: 10px 0;
}


/* Estilo das imagens */
.section-image {
  width: 100%;
  max-width: 300px; /* Define um tamanho máximo para as imagens */
  height: auto;
  margin-bottom: 20px; /* Espaçamento entre a imagem e o texto */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


